body {
	background-color: #ffffff;
	color: #000000;
	font-family: Oxygen;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.1875;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(../font/MaterialIcons-Regular.woff2) format('woff2'),
		url(../font/MaterialIcons-Regular.woff) format('woff'),
		url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	display: inline-block;
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
}
a {
	color: #0000ff;
	text-decoration: underline;
}
a:visited {
	color: #800080;
}
a:active {
	color: #ff0000;
}
a:hover {
	color: #0000ff;
	text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
}
#panel_icono {
	background-color: #ffffff;
	background-image: none;
}
#panel_icono:disabled {
	-moz-transition: izquierda 1000ms linear 0ms;
	-webkit-transition: izquierda 1000ms linear 0ms;
	izquierda: ;
	transition: izquierda 1000ms linear 0ms;
}
#panel_icono_panel {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 6px;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 51px;
	z-index: 9999;
}
@media only screen and (max-width: 970px) {
	#panel_icono {
		width: 100% !important;
	}
	#panel_icono_panel {
		width: 100% !important;
	}
	body {
		margin-left: 0 !important;
	}
}
#wb_IconFont1 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: top;
}
#wb_IconFont1:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
}
#IconFont1 {
	height: 36px;
	width: 31px;
}
.IconFont1 {
	display: inline-block;
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	left: 0;
	line-height: 1;
	position: relative;
	top: 0;
}
.IconFont1:before {
	content: '\e88a';
}
#IconFont1 i {
	color: #696969;
	display: inline-block;
	font-size: 31px;
	line-height: 36px;
	vertical-align: middle;
	width: 30px;
}
#wb_IconFont1:hover i {
	color: #000000;
}
#wb_PanelMenu2 a,
#PanelMenu2_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu2_markup {
	display: none;
	margin: 0;
	padding: 50px 20px 50px 20px;
}
#PanelMenu2_panel #PanelMenu2_markup {
	display: block;
}
#PanelMenu2_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu2_markup li a,
#PanelMenu2_markup li a:hover,
#PanelMenu2_markup li .active {
	box-shadow: none;
	padding: 15px 15px 15px 15px;
}
#PanelMenu2_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu2_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 9999;
}
#PanelMenu2_overlay {
	background-color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
#PanelMenu2_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu2 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu2_markup li a:hover {
	color: #a9a9a9;
}
.PanelMenu2-effect:before,
#PanelMenu2_markup li .active {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu2 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu2_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu2 {
	padding-right: 32px;
}
#PanelMenu2:after {
	content: '\e8cc';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 30px;
}
#PanelMenu2 {
	height: 36px;
	line-height: 36px;
	position: absolute;
	width: 2px;
	z-index: 999;
}
#PanelMenu2_markup ul li i {
	font-size: 30px;
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu2_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu2-close {
	display: none;
	text-align: right;
}
#PanelMenu2-close a {
	color: #696969;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}
#PanelMenu2-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu2_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu2-close {
		display: block;
	}
}
#PanelMenu2-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu2-logo {
	border-width: 0;
	padding: 15px 15px 15px 15px;
	text-align: left;
}
#PanelMenu2-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu2-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu2-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu2-effect:hover:before,
.PanelMenu2-effect:focus:before,
.PanelMenu2-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_PanelMenu3 a,
#PanelMenu3_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu3_markup {
	display: none;
	margin: 0;
	padding: 50px 20px 50px 20px;
}
#PanelMenu3_panel #PanelMenu3_markup {
	display: block;
}
#PanelMenu3_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu3_markup li a,
#PanelMenu3_markup li a:hover {
	box-shadow: none;
	padding: 15px 15px 15px 15px;
}
#PanelMenu3_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu3_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 9999;
}
#PanelMenu3_overlay {
	background-color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
#PanelMenu3_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu3 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu3_markup li a:hover {
	color: #c0c0c0;
}
.PanelMenu3-effect:before {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu3 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu3_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu3 {
	padding-right: 32px;
}
#PanelMenu3:after {
	content: '\e88d';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 30px;
}
#PanelMenu3 {
	height: 36px;
	line-height: 36px;
	position: absolute;
	width: 7px;
	z-index: 999;
}
#PanelMenu3_markup ul li i {
	font-size: 30px;
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu3_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu3-close {
	display: none;
	text-align: right;
}
#PanelMenu3-close a {
	color: #696969;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}
#PanelMenu3-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu3_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu3-close {
		display: block;
	}
}
#PanelMenu3-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu3-logo {
	border-width: 0;
	padding: 15px 15px 15px 15px;
	text-align: left;
}
#PanelMenu3-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu3-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu3-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu3-effect:hover:before,
.PanelMenu3-effect:focus:before,
.PanelMenu3-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#panel_nav {
	background-color: #f5f5f5;
	background-image: none;
}
#panel_nav_panel {
	background-color: #f5f5f5;
	background-image: none;
	box-shadow: 0px 0px 6px #d3d3d3;
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 177px;
	z-index: 9999;
}
@media only screen and (max-width: 970px) {
	#panel_nav {
		width: 100% !important;
	}
	#panel_nav_panel {
		width: 100% !important;
	}
	body {
		margin-left: 0 !important;
	}
}
#wb_PanelMenu_perfil_usuario a,
#PanelMenu_perfil_usuario_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu_perfil_usuario_markup {
	display: none;
	margin: 0;
	padding: 20px 10px 20px 10px;
}
#PanelMenu_perfil_usuario_panel #PanelMenu_perfil_usuario_markup {
	display: block;
}
#PanelMenu_perfil_usuario_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu_perfil_usuario_markup li a,
#PanelMenu_perfil_usuario_markup li a:hover {
	box-shadow: none;
	padding: 10px 10px 10px 10px;
}
#PanelMenu_perfil_usuario_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu_perfil_usuario_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 180px;
	z-index: 9999;
}
#PanelMenu_perfil_usuario_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #808080;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu_perfil_usuario a {
	background-color: rgba(192, 192, 192, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #c0c0c0;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu_perfil_usuario_markup li a:hover {
	color: #d3d3d3;
}
.PanelMenu_perfil_usuario-effect:before {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu_perfil_usuario a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #dcdcdc;
}
#PanelMenu_perfil_usuario_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu_perfil_usuario {
	padding-top: 152px;
}
#PanelMenu_perfil_usuario:after {
	background-image: url(../images/robotics%2d11.png);
	background-position: center center;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 150px;
	left: 50%;
	margin-left: -75px;
	position: absolute;
	top: 2px;
	width: 150px;
}
#PanelMenu_perfil_usuario {
	height: -6px;
	line-height: -6px;
	position: absolute;
	width: 137px;
	z-index: 999;
}
#PanelMenu_perfil_usuario_markup ul li i {
	font-size: 30px;
	padding: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu_perfil_usuario_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu_perfil_usuario-close {
	display: none;
	text-align: right;
}
#PanelMenu_perfil_usuario-close a {
	color: #c0c0c0;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}
#PanelMenu_perfil_usuario-close a:hover {
	color: #dcdcdc;
}
@media all and (max-width: 320px) {
	#PanelMenu_perfil_usuario_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu_perfil_usuario-close {
		display: block;
	}
}
#PanelMenu_perfil_usuario-footer {
	bottom: 0;
	color: #808080;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu_perfil_usuario-logo {
	border-width: 0;
	padding: 10px 10px 10px 10px;
	text-align: left;
}
#PanelMenu_perfil_usuario-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu_perfil_usuario-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 700ms cubic-bezier(0.23, 1, 0.32, 1);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.PanelMenu_perfil_usuario-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
	z-index: -1;
}
.PanelMenu_perfil_usuario-effect:hover:before,
.PanelMenu_perfil_usuario-effect:focus:before,
.PanelMenu_perfil_usuario-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_Text16 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	margin: 0;
	padding: 0;
	text-align: center;
}
#wb_Text16 {
	color: #c0c0c0;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
}
#wb_Text16 div {
	text-align: center;
}
#SlideMenu1 ul {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	list-style: none;
	margin: 0;
	padding: 0;
}
#SlideMenu1 li a img {
	border-width: 0;
	float: left;
	height: 34px;
	margin-right: 5px;
	vertical-align: middle;
	width: 30px;
}
#SlideMenu1 li li img {
	border-width: 0;
	float: left;
	height: 48px;
	margin-right: 4px;
	vertical-align: middle;
	width: 48px;
}
#SlideMenu1 li a {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	color: #333333;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: 34px;
	left: 0;
	line-height: 34px;
	margin: 5px 0px 5px 5px;
	padding: 5px 5px 5px 5px;
	position: relative;
	text-align: left;
	text-decoration: none;
	top: 0;
	vertical-align: middle;
}
#SlideMenu1 li a:hover {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
#SlideMenu1 li li a {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	color: #454545;
	display: block;
	font-weight: normal;
	height: 48px;
	line-height: 48px;
	margin: 4px 0px 4px 0px;
	padding: 4px 4px 4px 8px;
	text-decoration: none;
	vertical-align: middle;
}
#SlideMenu1 li li a:hover,
#SlideMenu1 .active {
	background-color: #ededed;
	color: #2b2b2b;
	font-weight: normal;
	text-decoration: none;
}
.ThemeableMenu1 .hide {
	display: none !important;
}
.ThemeableMenu1 .show {
	display: block !important;
}
.ThemeableMenu1 .hidden {
	display: none !important;
	visibility: hidden !important;
}
.ThemeableMenu1 .nav {
	color: #808080;
	font-family: Questrial;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}
#ThemeableMenu1,
.ThemeableMenu1 .nav,
.ThemeableMenu1 * {
	box-sizing: border-box;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after {
	content: ' ';
	display: table;
}
.ThemeableMenu1 .nav:after {
	clear: both;
}
.ThemeableMenu1 .nav a {
	text-decoration: none;
}
.ThemeableMenu1 .nav ul {
	margin-bottom: 10px;
	margin-top: 0;
}
.ThemeableMenu1 .nav ul ul {
	margin-bottom: 0;
}
.ThemeableMenu1 .container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after {
	content: ' ';
	display: table;
}
.ThemeableMenu1 .container:after {
	clear: both;
}
.ThemeableMenu1 .collapse {
	display: none;
}
.ThemeableMenu1 .collapse.in {
	display: block;
}
.ThemeableMenu1 .collapsing {
	-webkit-transition: height 0.35s ease;
	height: 0;
	overflow: hidden;
	position: relative;
	transition: height 0.35s ease;
}
.ThemeableMenu1 .caret {
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	display: inline-block;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	width: 0;
}
.ThemeableMenu1 .dropdown {
	position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus {
	outline: 0;
}
.ThemeableMenu1 .dropdown-menu {
	background-clip: padding-box;
	background-color: #dcdcdc;
	background-image: none;
	border: 1px solid rgba(220, 220, 220, 1);
	border-radius: 3px;
	display: none;
	float: left;
	font-size: 15px;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
}
.ThemeableMenu1 .dropdown-menu .divider {
	background-color: #dcdcdc;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
.ThemeableMenu1 .dropdown-menu > li > a {
	clear: both;
	color: #808080;
	display: block;
	line-height: 1.428571429;
	padding: 5px 5px 5px 5px;
	white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu > li > a:hover,
.ThemeableMenu1 .dropdown-menu > li > a:focus {
	background-color: #dcdcdc;
	background-image: none;
	color: #ffffff;
	text-decoration: none;
}
.ThemeableMenu1 .dropdown-menu > .active > a,
.ThemeableMenu1 .dropdown-menu > .active > a:hover,
.ThemeableMenu1 .dropdown-menu > .active > a:focus {
	background-color: #f2f2f2;
	color: #fff;
	outline: 0;
	text-decoration: none;
}
.ThemeableMenu1 .open > .dropdown-menu {
	display: block;
}
.ThemeableMenu1 .open > a {
	outline: 0;
}
.ThemeableMenu1 .dropdown-header {
	color: #aeaeae;
	display: block;
	line-height: 1.428571429;
	padding: 3px 20px;
}
.ThemeableMenu1 .dropdown-backdrop {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 990;
}
.ThemeableMenu1 .nav > li {
	display: block;
	position: relative;
}
.ThemeableMenu1 .nav > li > a {
	display: block;
	padding: 5px 5px 5px 5px;
	position: relative;
}
.ThemeableMenu1 .nav .open > a,
.ThemeableMenu1 .nav .open > a:hover,
.ThemeableMenu1 .nav .open > a:focus {
	background-color: #ccc;
	border-color: #f2f2f2;
}
.ThemeableMenu1 .nav .nav-divider {
	background-color: #dcdcdc;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
.ThemeableMenu1 .nav > li > a > img {
	max-width: none;
}
.ThemeableMenu1 .nav .caret {
	border-bottom-color: #f2f2f2;
	border-top-color: #f2f2f2;
}
.ThemeableMenu1 {
	background-color: #f2f2f2;
	background-image: none;
	border: 1px solid transparent;
	position: relative;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after {
	content: ' ';
	display: table;
}
.ThemeableMenu1:after {
	clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after {
	content: ' ';
	display: table;
}
.ThemeableMenu1 .navbar-header:after {
	clear: both;
}
.ThemeableMenu1-navbar-collapse {
	-webkit-overflow-scrolling: touch;
	overflow-x: visible;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after {
	content: ' ';
	display: table;
}
.ThemeableMenu1-navbar-collapse:after {
	clear: both;
}
.ThemeableMenu1-navbar-collapse.in {
	overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 3px;
	float: left;
	padding: 5px 10px 4px 10px;
	position: relative;
}
.ThemeableMenu1 .navbar-toggle .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav {
	margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav > li > .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}
.ThemeableMenu1 .navbar-nav > li > a {
	color: #808080;
}
.ThemeableMenu1 .navbar-nav > li > a:hover,
.ThemeableMenu1 .navbar-nav > li > a:focus {
	background-color: #dcdcdc;
	background-image: none;
	color: #ffffff;
	text-decoration: none;
}
.ThemeableMenu1 .navbar-nav > .active > a,
.ThemeableMenu1 .navbar-nav > .active > a:hover,
.ThemeableMenu1 .navbar-nav > .active > a:focus {
	background-color: #dcdcdc;
	background-image: none;
	color: #ffffff;
}
.ThemeableMenu1 .navbar-toggle {
	border: 1px solid rgba(238, 238, 238, 0.1);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus {
	background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar {
	background-color: #696969;
}
.ThemeableMenu1-navbar-collapse {
	border-color: rgba(220, 220, 220, 1);
}
.ThemeableMenu1 .navbar-nav > .dropdown > a:hover .caret,
.ThemeableMenu1 .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #ffffff;
	border-top-color: #ffffff;
}
.ThemeableMenu1 .navbar-nav > .open > a,
.ThemeableMenu1 .navbar-nav > .open > a:hover,
.ThemeableMenu1 .navbar-nav > .open > a:focus {
	background-color: #dcdcdc;
	background-image: none;
	color: #ffffff;
}
.ThemeableMenu1 .navbar-nav > .open > a .caret,
.ThemeableMenu1 .navbar-nav > .open > a:hover .caret,
.ThemeableMenu1 .navbar-nav > .open > a:focus .caret {
	border-bottom-color: #ffffff;
	border-top-color: #ffffff;
}
.ThemeableMenu1 .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #808080;
	border-top-color: #808080;
}
.ThemeableMenu1 .navbar-link {
	color: #808080;
}
.ThemeableMenu1 .navbar-link:hover {
	color: #ffffff;
}
.ThemeableMenu1 .navbar-header {
	color: #696969;
	height: 27px;
}
@media (min-width: 0px) {
	.ThemeableMenu1 .navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	.ThemeableMenu1 .navbar-header {
		float: left;
	}
	.ThemeableMenu1-navbar-collapse {
		border-top: 0;
		box-shadow: none;
		width: auto;
	}
	.ThemeableMenu1-navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		overflow: visible !important;
		padding-bottom: 0;
	}
	.ThemeableMenu1-navbar-collapse.in {
		overflow-y: auto;
	}
	.ThemeableMenu1 .navbar-toggle {
		display: none;
	}
	.ThemeableMenu1 .navbar-nav {
		float: left;
		margin: 0;
	}
	.ThemeableMenu1 .navbar-nav > li {
		float: left;
	}
	.ThemeableMenu1 .container > .navbar-header,
	.ThemeableMenu1 .container > .ThemeableMenu1-navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	.ThemeableMenu1 .navbar-nav > .dropdown > a:hover .caret,
	.ThemeableMenu1 .navbar-nav > .dropdown > a:focus .caret {
		border-bottom-color: #f5f5f5;
		border-top-color: #f5f5f5;
	}
}
@media (max-width: 0px) {
	.ThemeableMenu1 {
		border-color: rgba(242, 242, 242, 1);
	}
	.ThemeableMenu1 .navbar-nav {
		background-color: #dcdcdc;
		background-image: none;
		margin: 0;
	}
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		float: none;
		margin-top: 0;
		position: static;
		width: auto;
	}
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu > li > a,
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu > li > a:hover,
	.ThemeableMenu1 .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
}
@media (min-width: 0px) {
	.ThemeableMenu1 {
		background-color: #f2f2f2;
		background-image: none;
		border-color: rgba(242, 242, 242, 1);
		border-radius: 3px;
	}
	.ThemeableMenu1 .navbar-nav > li > a {
		color: #696969;
	}
	.ThemeableMenu1 .navbar-nav > li > a:hover,
	.ThemeableMenu1 .navbar-nav > li > a:focus {
		background-color: #d3d3d3;
		background-image: none;
		color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-nav > .active > a,
	.ThemeableMenu1 .navbar-nav > .active > a:hover,
	.ThemeableMenu1 .navbar-nav > .active > a:focus {
		background-color: #d3d3d3;
		background-image: none;
		color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-nav > .open > a,
	.ThemeableMenu1 .navbar-nav > .open > a:hover,
	.ThemeableMenu1 .navbar-nav > .open > a:focus {
		background-color: #d3d3d3;
		background-image: none;
		color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-nav > .dropdown > a:hover .caret {
		border-bottom-color: #f5f5f5;
		border-top-color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-nav > .dropdown > a .caret {
		border-bottom-color: #696969;
		border-top-color: #696969;
	}
	.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
	.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
	.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret {
		border-bottom-color: #f5f5f5;
		border-top-color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-nav > .open > a .caret,
	.ThemeableMenu1 .navbar-nav > .open > a:hover .caret,
	.ThemeableMenu1 .navbar-nav > .open > a:focus .caret {
		border-bottom-color: #f5f5f5;
		border-top-color: #f5f5f5;
	}
	.ThemeableMenu1 .navbar-link {
		color: #696969;
	}
	.ThemeableMenu1 .navbar-link:hover {
		color: #fff;
	}
}
#ThemeableMenu1 i {
	font-size: 16px;
	left: 0;
	margin-right: 4px;
	position: relative;
	top: 0;
	width: 16px;
}
#wb_Text5 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	margin: 0;
	padding: 0;
	text-align: right;
}
#wb_Text5 {
	color: #696969;
	font-family: Oxygen;
	font-size: 16px;
	font-weight: normal;
}
#wb_Text5 div {
	text-align: right;
}
#wb_FontAwesomeIcon3 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
}
#wb_FontAwesomeIcon3:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
}
#FontAwesomeIcon3 {
	height: 28px;
	width: 44px;
}
#FontAwesomeIcon3 i {
	color: #696969;
	display: inline-block;
	font-size: 28px;
	line-height: 28px;
	vertical-align: middle;
	width: 25px;
}
#wb_FontAwesomeIcon3:hover i {
	color: #dcdcdc;
}
#wb_IconFont2 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
}
#wb_IconFont2:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
}
#IconFont2 {
	height: 32px;
	width: 34px;
}
.IconFont2 {
	display: inline-block;
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	left: 0;
	line-height: 1;
	position: relative;
	top: 0;
}
.IconFont2:before {
	content: '\e5d2';
}
#IconFont2 i {
	color: #808080;
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	vertical-align: middle;
	width: 31px;
}
#wb_IconFont2:hover i {
	color: #dcdcdc;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu1_markup {
	display: none;
	margin: 0;
	padding: 20px 10px 20px 10px;
}
#PanelMenu1_panel #PanelMenu1_markup {
	display: block;
}
#PanelMenu1_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu1_markup li a,
#PanelMenu1_markup li a:hover {
	box-shadow: none;
	padding: 10px 10px 10px 10px;
}
#PanelMenu1_markup .divider {
	background-color: #000000;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu1_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 220px;
	z-index: 9999;
}
#PanelMenu1_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(0, 0, 0, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu1 a {
	background-color: rgba(105, 105, 105, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu1_markup li a:hover {
	color: #d3d3d3;
}
.PanelMenu1-effect:before {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu1 a:hover {
	background-color: rgba(192, 192, 192, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu1_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu1 {
	padding-right: 27px;
}
#PanelMenu1:after {
	content: '\e7f7';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: -12px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 25px;
}
#PanelMenu1 {
	height: 27px;
	line-height: 27px;
	position: absolute;
	width: 26px;
	z-index: 999;
}
#PanelMenu1_markup ul li i {
	font-size: 25px;
	padding: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 25px;
}
#PanelMenu1_markup span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
#PanelMenu1-close {
	display: none;
	text-align: right;
}
#PanelMenu1-close a {
	color: #696969;
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}
#PanelMenu1-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu1_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu1-close {
		display: block;
	}
}
#PanelMenu1-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu1-logo {
	border-width: 0;
	padding: 10px 10px 10px 10px;
	text-align: left;
}
#PanelMenu1-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu1-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu1-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu1-effect:hover:before,
.PanelMenu1-effect:focus:before,
.PanelMenu1-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_PanelMenu4 a,
#PanelMenu4_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu4_markup {
	display: none;
	margin: 0;
	padding: 20px 10px 20px 10px;
}
#PanelMenu4_panel #PanelMenu4_markup {
	display: block;
}
#PanelMenu4_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu4_markup li a,
#PanelMenu4_markup li a:hover,
#PanelMenu4_markup li .active {
	box-shadow: none;
	padding: 10px 10px 10px 10px;
}
#PanelMenu4_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu4_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 220px;
	z-index: 9999;
}
#PanelMenu4_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu4 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu4_markup li a:hover {
	color: #a9a9a9;
}
.PanelMenu4-effect:before,
#PanelMenu4_markup li .active {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu4 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu4_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu4 {
	padding-right: 27px;
}
#PanelMenu4:after {
	content: '\e0e1';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: -12px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 25px;
}
#PanelMenu4 {
	height: 24px;
	line-height: 24px;
	position: absolute;
	width: 24px;
	z-index: 999;
}
#PanelMenu4_markup ul li i {
	font-size: 25px;
	padding: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 25px;
}
#PanelMenu4_markup span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
#PanelMenu4-close {
	display: none;
	text-align: right;
}
#PanelMenu4-close a {
	color: #696969;
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}
#PanelMenu4-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu4_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu4-close {
		display: block;
	}
}
#PanelMenu4-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu4-logo {
	border-width: 0;
	padding: 10px 10px 10px 10px;
	text-align: left;
}
#PanelMenu4-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu4-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu4-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu4-effect:hover:before,
.PanelMenu4-effect:focus:before,
.PanelMenu4-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_header_nav {
	background-color: #f2f2f2;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: -webkit-sticky;
	position: sticky;
	table-layout: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 7776;
}
#header_nav {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
	padding: 10px 0px 10px 0px;
}
#header_nav > .col-1,
#header_nav > .col-2,
#header_nav > .col-3,
#header_nav > .col-4,
#header_nav > .col-5,
#header_nav > .col-6 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#header_nav > .col-1,
#header_nav > .col-2,
#header_nav > .col-3,
#header_nav > .col-4,
#header_nav > .col-5,
#header_nav > .col-6 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#header_nav > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 25%;
	justify-content: center;
	max-width: 25%;
	text-align: center;
}
#header_nav > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-end;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 25%;
	justify-content: flex-end;
	max-width: 25%;
	text-align: right;
}
#header_nav > .col-3 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 8.33333333%;
	justify-content: flex-start;
	max-width: 8.33333333%;
	text-align: left;
}
#header_nav > .col-4 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 16.66666667%;
	justify-content: flex-start;
	max-width: 16.66666667%;
	text-align: left;
}
#header_nav > .col-5 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 8.33333333%;
	justify-content: flex-start;
	max-width: 8.33333333%;
	text-align: left;
}
#header_nav > .col-5 > .col-5-padding {
	padding: 0px 10px 0px 0px;
}
#header_nav > .col-6 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 16.66666667%;
	justify-content: flex-start;
	max-width: 16.66666667%;
	text-align: left;
}
@media (max-width: 0px) {
	#header_nav > .col-1,
	#header_nav > .col-2,
	#header_nav > .col-3,
	#header_nav > .col-4,
	#header_nav > .col-5,
	#header_nav > .col-6 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_PanelMenu5 a,
#PanelMenu5_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu5_markup {
	display: none;
	margin: 0;
	padding: 50px 20px 50px 20px;
}
#PanelMenu5_panel #PanelMenu5_markup {
	display: block;
}
#PanelMenu5_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu5_markup li a,
#PanelMenu5_markup li a:hover,
#PanelMenu5_markup li .active {
	box-shadow: none;
	padding: 15px 15px 15px 15px;
}
#PanelMenu5_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu5_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 9999;
}
#PanelMenu5_overlay {
	background-color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
#PanelMenu5_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu5 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu5_markup li a:hover {
	color: #a9a9a9;
}
.PanelMenu5-effect:before,
#PanelMenu5_markup li .active {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu5 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu5_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu5 {
	padding-right: 32px;
}
#PanelMenu5:after {
	content: '\e53e';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 30px;
}
#PanelMenu5 {
	height: 36px;
	line-height: 36px;
	position: absolute;
	width: 2px;
	z-index: 999;
}
#PanelMenu5_markup ul li i {
	font-size: 30px;
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu5_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu5-close {
	display: none;
	text-align: right;
}
#PanelMenu5-close a {
	color: #696969;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}
#PanelMenu5-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu5_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu5-close {
		display: block;
	}
}
#PanelMenu5-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu5-logo {
	border-width: 0;
	padding: 15px 15px 15px 15px;
	text-align: left;
}
#PanelMenu5-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu5-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu5-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu5-effect:hover:before,
.PanelMenu5-effect:focus:before,
.PanelMenu5-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_PanelMenu6 a,
#PanelMenu6_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu6_markup {
	display: none;
	margin: 0;
	padding: 50px 20px 50px 20px;
}
#PanelMenu6_panel #PanelMenu6_markup {
	display: block;
}
#PanelMenu6_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu6_markup li a,
#PanelMenu6_markup li a:hover,
#PanelMenu6_markup li .active {
	box-shadow: none;
	padding: 15px 15px 15px 15px;
}
#PanelMenu6_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu6_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 9999;
}
#PanelMenu6_overlay {
	background-color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
#PanelMenu6_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu6 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu6_markup li a:hover {
	color: #a9a9a9;
}
.PanelMenu6-effect:before,
#PanelMenu6_markup li .active {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu6 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu6_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu6 {
	padding-right: 32px;
}
#PanelMenu6:after {
	content: '\e2c0';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 30px;
}
#PanelMenu6 {
	height: 36px;
	line-height: 36px;
	position: absolute;
	width: 2px;
	z-index: 999;
}
#PanelMenu6_markup ul li i {
	font-size: 30px;
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu6_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu6-close {
	display: none;
	text-align: right;
}
#PanelMenu6-close a {
	color: #696969;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}
#PanelMenu6-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu6_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu6-close {
		display: block;
	}
}
#PanelMenu6-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu6-logo {
	border-width: 0;
	padding: 15px 15px 15px 15px;
	text-align: left;
}
#PanelMenu6-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu6-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu6-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu6-effect:hover:before,
.PanelMenu6-effect:focus:before,
.PanelMenu6-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_PanelMenu7 a,
#PanelMenu7_markup li a {
	display: block;
	text-align: left;
	vertical-align: middle;
}
#PanelMenu7_markup {
	display: none;
	margin: 0;
	padding: 50px 20px 50px 20px;
}
#PanelMenu7_panel #PanelMenu7_markup {
	display: block;
}
#PanelMenu7_markup ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#PanelMenu7_markup li a,
#PanelMenu7_markup li a:hover,
#PanelMenu7_markup li .active {
	box-shadow: none;
	padding: 15px 15px 15px 15px;
}
#PanelMenu7_markup .divider {
	background-color: #ffffff;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
#PanelMenu7_panel {
	display: none;
	height: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 9999;
}
#PanelMenu7_overlay {
	background-color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
#PanelMenu7_markup li a {
	background-color: #f5f5f5;
	border: 0px solid rgba(255, 255, 255, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#wb_PanelMenu7 a {
	background-color: rgba(255, 255, 255, 0);
	border: 0px solid rgba(245, 245, 245, 0);
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
#PanelMenu7_markup li a:hover {
	color: #a9a9a9;
}
.PanelMenu7-effect:before,
#PanelMenu7_markup li .active {
	background-color: rgba(105, 105, 105, 0);
}
#wb_PanelMenu7 a:hover {
	background-color: rgba(128, 128, 128, 0);
	border: 0px solid #a9a9a9;
	color: #d3d3d3;
}
#PanelMenu7_panel {
	background-color: #f5f5f5;
	overflow-y: auto;
}
#PanelMenu7 {
	padding-right: 32px;
}
#PanelMenu7:after {
	content: '\e8b8';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 30px;
}
#PanelMenu7 {
	height: 36px;
	line-height: 36px;
	position: absolute;
	width: 2px;
	z-index: 999;
}
#PanelMenu7_markup ul li i {
	font-size: 30px;
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
	width: 30px;
}
#PanelMenu7_markup span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
#PanelMenu7-close {
	display: none;
	text-align: right;
}
#PanelMenu7-close a {
	color: #696969;
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}
#PanelMenu7-close a:hover {
	color: #d3d3d3;
}
@media all and (max-width: 600px) {
	#PanelMenu7_panel {
		width: 100%;
	}
	body {
		margin-left: 0 !important;
	}
	#PanelMenu7-close {
		display: block;
	}
}
#PanelMenu7-footer {
	bottom: 0;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	left: 0;
	padding: 0px 0px 13px 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
#PanelMenu7-logo {
	border-width: 0;
	padding: 15px 15px 15px 15px;
	text-align: left;
}
#PanelMenu7-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
.PanelMenu7-effect {
	-webkit-transform: perspective(0px) translateX(0);
	-webkit-transition: color 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	display: inline-block;
	position: relative;
	transform: perspective(0px) translateX(0);
	transition: coor 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.PanelMenu7-effect:before {
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: scaleX(0);
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	content: '';
	height: 0px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: -1;
}
.PanelMenu7-effect:hover:before,
.PanelMenu7-effect:focus:before,
.PanelMenu7-effect:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#wb_uid1 {
	color: #696969;
}
#wb_FontAwesomeIcon3 {
	display: inline-block;
	height: 28px;
	text-align: center;
	width: 44px;
	z-index: 14;
}
#SlideMenu1 {
	height: 399px;
	left: 4px;
	position: absolute;
	top: 225px;
	width: 158px;
	z-index: 8;
}
#wb_PanelMenu_perfil_usuario {
	height: 146px;
	left: 24px;
	position: absolute;
	top: 33px;
	width: 137px;
	z-index: 6;
}
#wb_IconFont1 {
	height: 36px;
	left: 8px;
	position: absolute;
	text-align: center;
	top: 6px;
	width: 31px;
	z-index: 0;
}
#wb_IconFont2 {
	display: inline-block;
	height: 32px;
	text-align: center;
	width: 34px;
	z-index: 9;
}
#wb_PanelMenu1 {
	display: inline-block;
	height: 27px;
	width: 53px;
	z-index: 11;
}
#panel_icono {
	display: none;
	text-align: left;
}
#wb_PanelMenu2 {
	height: 36px;
	left: 7px;
	position: absolute;
	top: 152px;
	width: 34px;
	z-index: 1;
}
#wb_PanelMenu3 {
	height: 36px;
	left: 2px;
	position: absolute;
	top: 77px;
	width: 39px;
	z-index: 2;
}
#wb_PanelMenu4 {
	display: inline-block;
	height: 24px;
	width: 51px;
	z-index: 12;
}
#wb_ThemeableMenu1 {
	display: inline-block;
	width: 100%;
	z-index: 1010;
}
#wb_Text16 {
	height: 18px;
	left: 26px;
	position: absolute;
	text-align: center;
	top: 188px;
	width: 128px;
	z-index: 7;
}
#wb_PanelMenu5 {
	height: 36px;
	left: 8px;
	position: absolute;
	top: 230px;
	width: 34px;
	z-index: 3;
}
#wb_PanelMenu6 {
	height: 36px;
	left: 8px;
	position: absolute;
	top: 307px;
	width: 34px;
	z-index: 4;
}
#wb_uid0 {
	color: #c0c0c0;
}
#panel_nav {
	display: none;
	text-align: left;
}
#wb_PanelMenu7 {
	height: 36px;
	left: 7px;
	position: absolute;
	top: 392px;
	width: 34px;
	z-index: 5;
}
